<div id="container">
    <div class="container_header container">
        <ul class="container_header-list">
            <li>
                <a href="#">Trang chủ</a>
                <span> > </span>
            </li>
            <li>
                <a href="#">Danh mục sản phẩm</a>
                <span> > </span>
            </li>
            <li>
                <a href="#">Sách kinh tế</a>
                <span> > </span>
            </li>
            <li>
                <a href="#">Nhân vật lịch sử</a>
                <span></span>
            </li>
        </ul>
    </div>

    <div class="container_nav container">
        <div class="container_nav-column">
            <div class="container_nav-column-list">
                <div class="container_nav-column-list-header">
                    Nhóm sản phẩm
                </div>
                <div class="container_nav-column-list-name">
                    Sách kinh tế
                </div>
                <ul class="container_nav-column-item">
                    <li><a href="/sachkinhtes/nhan-vat-lich-su">Nhân vật lịch sử</a></li>
                    <li><a href="/sachkinhtes/quan-tri-lanh-dao">Quản trị lãnh đạo</a></li>
                    <li><a href="/sachkinhtes/phan-tich-kinh-te">Phân tích kinh tế</a></li>
                </ul>
            </div>

            <div class="container_nav-border"></div>

            <div class="container_nav-column-price">
                <div class="container_nav-column-price-header">
                    Giá
                </div>
                <ul class="container_nav-column-price-item">
                    <li><input type="radio" name="price">0đ - 150,000đ</li>
                    <li><input type="radio" name="price">150,000đ - 300,000đ</li>
                    <li><input type="radio" name="price">300,000đ - 500,000đ</li>
                    <li><input type="radio" name="price">500,000đ - 700,000đ</li>
                </ul>
            </div>
            <div class="container_nav-border"></div>
        </div>

        <div class="container_nav-body">
            <div class="container_nav-toolbar-top">
                <div class="container_nav-toolbar-top-name">
                    Sắp xếp theo:
                </div>
                <div class="container_nav-toolbar-top-arrange">
                    <div class="container_nav-toolbar-top-arrange-list">
                        Mới nhất
                    
                        <ul class="container_nav-toolbar-top-arrange-item">
                            <li><a href="#">Cũ nhất</a></li>
                            <li><a href="#">Bán chạy nhất</a></li>
                            <li><a href="#">Giá bán</a></li>
                            <li><a href="#">A-Z</a></li>
                            <li><a href="#">Z-A</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container_nav-border"></div>
            <div class="container_nav-body-list">
                {{#each sachkinhtes}}
                <div class="container_nav-body-item">
                    <a href="{{this._id}}/product" class="container_nav-body-img">
                        <img src="{{this.image}}" alt="">
                        <div class="container_nav-body-img-text-center">{{this.discount}}%</div>
                    </a>
                    <div class="container_nav-body-text">
                        <a href="#" class="container_nav-body-name">
                            {{this.name}}
                        </a>
                        <div class="container_nav-body-price">
                            <div class="container_nav-body-price-new">
                                {{this.priceNew}} đ
                            </div>
                            <div class="container_nav-body-price-old">
                                {{this.priceOld}} đ
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>

            <div class="container_nav-toolbar-bottom">
                <ul class="container_nav-toolbar-bottom-list">
                    <li><a href="#">
                        <i class="fa-solid fa-angle-left"></i>
                    </a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <span>...</span>
                    <li><a href="#">
                        <i class="fa-solid fa-angle-right"></i>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>