<div class="header-slider__wrapper">
    <div class="header-slider">
        <div class="header-slides">
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <div class="header-slide first">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img2.jpg?v=225" alt="">
            </div>
            <div class="header-slide">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img1.jpg?v=225" alt="">
            </div>
            <div class="header-slide">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img3.jpg?v=225" alt="">
            </div>
            <div class="header-slide">
                <img src="https://theme.hstatic.net/200000343865/1000796725/14/ms_banner_img4.jpg?v=225" alt="">
            </div>

            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>
        </div>
    </div>
</div>

<div id="main-content">
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            VĂN HỌC
        </div>
        <div class="main-content_wrapper-list">
            {{#each vanhocs}}
            <div class="main-content_wrapper-item">
                <a href="/vanhocs/{{this._id}}/product" class="main-content_wrapper-img">
                    <img src="{{this.image}}" alt="">
                </a>
                <div class="main-content_wrapper-text">
                    <a href="/vanhocs/{{this._id}}/product" class="main-content_wrapper-name">
                        {{this.name}}
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            {{this.priceNew}}đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            {{this.priceOld}}đ
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="main-content_wrapper-grid">
            <a href="/vanhocs/tieu-thuyet">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_3.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            SÁCH THIẾU NHI
        </div>
        <div class="main-content_wrapper-list">
            {{#each sachthieunhis}}
            <div class="main-content_wrapper-item">
                <a href="/sachthieunhis/{{this._id}}/product" class="main-content_wrapper-img">
                    <img src="{{this.image}}" alt="">
                </a>
                <div class="main-content_wrapper-text">
                    <a href="/sachthieunhis/{{this._id}}/product" class="main-content_wrapper-name">
                        {{this.name}}
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            {{this.priceNew}}đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            {{this.priceOld}}đ
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="main-content_wrapper-grid">
            <a href="/sachthieunhis/manga-comic">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_4.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            SÁCH KINH TẾ
        </div>
        <div class="main-content_wrapper-list">
            {{#each sachkinhtes}}
            <div class="main-content_wrapper-item">
                <a href="/sachkinhtes/{{this._id}}/product" class="main-content_wrapper-img">
                    <img src="{{this.image}}" alt="">
                </a>
                <div class="main-content_wrapper-text">
                    <a href="/sachkinhtes/{{this._id}}/product" class="main-content_wrapper-name">
                        {{this.name}}
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            {{this.priceNew}}đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            {{this.priceOld}}đ
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="main-content_wrapper-grid">
            <a href="/sachkinhtes/nhan-vat-lich-su">Xem thêm >></a>
        </div>
    </div>
    <div class="main-content-banner">
        <a href="">
            <img src="https://theme.hstatic.net/200000343865/1000796725/14/banner_home_pro_5.jpg?v=219" alt="">
        </a>
    </div>
    <div class="main-content_wrapper">
        <div class="main-content_wrapper-header">
            SÁCH NGOẠI NGỮ
        </div>
        <div class="main-content_wrapper-list">
            {{#each sachngoaingus}}
            <div class="main-content_wrapper-item">
                <a href="/sachngoaingus/{{this._id}}/product" class="main-content_wrapper-img">
                    <img src="{{this.image}}" alt="">
                </a>
                <div class="main-content_wrapper-text">
                    <a href="/sachngoaingus/{{this._id}}/product" class="main-content_wrapper-name">
                        {{this.name}}
                    </a>
                    <div class="main-content_wrapper-price">
                        <div class="main-content_wrapper-price-new">
                            {{this.priceNew}}đ
                        </div>
                        <div class="main-content_wrapper-price-old">
                            {{this.priceOld}}đ
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="main-content_wrapper-grid">
            <a href="/sachngoaingus/tieng-anh">Xem thêm >></a>
        </div>
    </div>
</div>

<script>
    var counter = 1;
    setInterval(() => {
        document.getElementById('radio' + counter).checked = true;
        counter++;
        if(counter > 4){
            counter = 1;
        }
    }, 2000);
</script>